VITE_SUPABASE_URL=https://lyqbelghbraqizurewwj.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_6rqFWiFcI8krl3S_mySf9w_BptWRHwm
VITE_API_URL=https://context-r3edock8e-lalits-projects-d1304774.vercel.app
